body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}

#root{
    margin-top: 4rem;
    width: 50%;
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.title {
    color: #333;
}
p {
    line-height: 1.8;
    color: #555;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}